body {
  background: linear-gradient(#F5F4F2, #D1D0CE) no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  border-radius: 10px;
  height: 75%;
  object-fit: contain;
  background-image: url("../images/crowdPhone.jpeg");
  font-family: "Open Sans";
  color: black;
  border: 2px solid black;
  box-shadow: 5px 5px 20px gray;
}

.navbar-brand {
  font-family: "Yellowtail";
  font-size: 3em;
}


#logo {
    height: 3em;
    width: 3em;
}

.photo {
    margin-top: 1em;
    margin-left: 1em;
}

.screen {
    display: none;
}


.statCard{
  height: 500px;
	max-width: 30%;
	margin:10px;
	float:left;
	border-color: #67b854;
}

.headPhoto{
  /*  width: 200px;
    height: 400px;*/
    object-fit: contain;
    background-image: url("../images/crowdPhone.jpeg");
}


.navcss{
	background-color: #67b854;
}

#add-photo {
	border: 1px solid lightgrey;
}

.photos {
	height: 250px;
	width: 250px;
	border: 2px solid black;
	border-radius: 5px;
	margin: 20px;
}

#photo-form {
	margin-top: 20px;
}

#photo-input {
	width: 30%;
}

#camera {
	height: 2em;
	width: 4em;
}

#well {
  margin-top: 20px;
  background-color: white;
  border: 3px solid black;
  height: 1000px;
  width: 70%;
  border-radius: 5px;
  background-image: url("../images/background_image.png");
}

.photoBar {
  margin-top: 20px;
}
