body {
  background: linear-gradient(#E5E4E2, #D1D0CE) no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  border-radius: 10px;
  height: 75%;
  object-fit: contain;
  background-image: url("../images/crowdPhone.jpeg");
  font-family: "Open Sans";
  color: black;
}

.navbar-brand {
  font-family: "Yellowtail";
  font-size: 3em;
}


#logo {
    height: 3em;
    width: 3em;
}

.photo {
    margin-top: 1em;
    margin-left: 1em;
}

.screen {
    display: none;
}


.statCard{
	max-width: 30%;
	margin:10px;
	float:left;
	border-color: #67b854;
}

.headPhoto{
  /*  width: 200px;
    height: 400px;*/
    object-fit: contain;
    background-image: url("../images/crowdPhone.jpeg");
}


.navcss{
	background-color: #67b854;
}

#add-photo {
	border: 1px solid lightgrey;
}

.photos {
	height: 250px;
	width: 250px;
	border: 2px solid black;
	border-radius: 5px;
	margin: 20px;
}

#photo-form {
	margin-top: 20px;
}

#photo-input {
	width: 30%;
}

#camera {
	height: 2em;
	width: 4em;
}
